body {
	background: #333;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: 100;
	text-decoration: none;
	text-transform: none;
	letter-spacing: 0em;
	word-spacing: 0em;
	line-height: 1.2;
	color: #AAA;
}
::selection {
	background: #4D0800; /* Safari */
}
::-moz-selection {
	background: #4D0800; /* Firefox */
}
#container {
	margin: 5% auto 0;
	text-align: center;
	background: #444;
	width: 90%;
	border-radius: 1em;
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
	max-width: 40em;
	min-width: 15em;
	padding: 1em;
}
.header {
	color: #999;
	font-weight: 100;
	text-shadow: 3px 3px 3px #000;
	margin: 0;
}
h1.header {
	padding-top: 0.5em;
	padding-bottom: 0.1em;
}
h2.header {
	font-size: 1.25em;
	color: #888;
}
button {
	margin-bottom: 1em;
}
.centerText {
	text-align: center;
	margin: 1em auto;
	max-width: 25em;
}
#mainDetails {
	padding: 0 0.5em;
}
#resultsContainer {
	text-align: center;
	margin: 1em auto;
}
#resultsContainer div {
	max-width: 24em;
	margin: 0 auto;
	padding: 0 0.5em;
}
#results {
	list-style: none;
	text-align: center;
	padding: 0;
	margin: 1em 0.5em;
}
#results > li {
	display: inline-block;
	background: #222;
	border-radius: 0.25em;
	-webkit-border-radius: 0.25em;
	-moz-border-radius: 0.25em;
	padding: 0.25em 0.5em;
	line-height: 1.25em;
	margin-top: 0.45em;
}
#results > li.good {
	background-color: #007034;
}
#results > li.gooder {
	background-color: #009947;
	color: #BBB;
}
#results > li.goodest {
	background-color: #00A824;
	color: #CCC;
}
#noscript {
	background: black;
	color: white;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
